@import "./reset.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

// Header

.test {
    background: url(../../images/bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: relative;
    align-items: center;
}

.test::after{
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    top: 0px;
    left: 0px;
    position: absolute;
   z-index: -1;
   
}


